<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="setSystemProperties"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject" value="#{@systemProperties}" />
		<property name="targetMethod" value="putAll" />
		<property name="arguments">
			<props>
				<prop key="javax.xml.stream.XMLInputFactory">com.ctc.wstx.stax.WstxInputFactory</prop>
				<prop key="javax.xml.stream.XMLOutputFactory">com.ctc.wstx.stax.WstxOutputFactory</prop>
				<prop key="javax.xml.stream.XMLEventFactory">com.ctc.wstx.stax.WstxEventFactory</prop>
			</props>
		</property>
	</bean>

	<bean id="tempFile"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod" value="java.io.File.createTempFile" />
		<property name="arguments">
			<list>
				<value>output</value>
				<value>.xml</value>
			</list>
		</property>
	</bean>

	<bean id="tempResource" class="org.springframework.core.io.FileSystemResource">
		<constructor-arg ref="tempFile" />
	</bean>

	<bean id="itemWriter" class="org.springframework.batch.item.xml.StaxEventItemWriter"
		depends-on="setSystemProperties">
		<property name="resource" ref="tempResource" />
		<property name="rootTagName" value="testing" />
		<property name="marshaller">
			<bean class="org.springframework.oxm.jibx.JibxMarshaller">
				<property name="targetClass"
					value="com.ianbrandt.spring.batch.test.TestModelObject" />
			</bean>
		</property>
	</bean>
</beans>